body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
}
.start {
	background: #FFF;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start h1 {
  position: fixed;
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  z-index: 9999;
	display: none;
	width: 100%;
  color: black;
  font-size: 90px;
  font-family: 'Sacramento', cursive;
  text-align: center;
}
header {
  z-index: 10;
  position: fixed;
  background-color: #333;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.6;
}
.container {
  width: 67%;
  margin: 0 auto;
}
header h1 {
  font-size: 40px;
  font-family: 'Sacramento', cursive;
  padding: 15px 35px 0;
  margin: 0;
}
header h1 a {
  color: white;
}
.nav ul{
  margin: 0;
  display: flex;
  padding: 0 20px ;
  position: absolute;
  top: 0;
  right: 20px;
}
.nav-site li {
  padding: 25px;
  width: 120px;
  text-align: center;
  height: 80px;
  margin: 0;
  float: right;
}
.mask {
  display: none;
  z-index: 15;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
}
.open .mask {
  display:block;
}
.nav-site li:hover {
  background-color: #50b8f5;
  color: white;
}
.nav-site a {
  font-size: 20px;
  color: white;
}

.nav-site a:hover {
  opacity: 1;
}
.about {
  background-image: url("../img/network.jpg");
  width: 100%;
  height: 100vh;
}
.text-content {
  color: white;
  padding-top:100px;
}
.text-content h2 {
  font-size: 50px;
  margin:50px 0;
}
.text-content p {
  line-height: 50px;
  margin: 100px 0;
  font-size: 30px;
}
.work-wrapper {
  padding: 50px 0;
}
.work-wrapper h2 {
  text-align: center;
  font-size: 50px;
}
.works {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.work img {
  width: 100%;
}
.work {
  width: 26%;
  margin-bottom: 30px;
  box-shadow: 0 0 8px black;
  transition: all 0.5s;
}
.work a{
  color: #333;
}
.work-content {
  text-align: center;
}
.contact-wrapper {
  padding: 50px 0;
  background-color: rgba(3,3,3,1);
  color: white;
}
.contact-content {
  width: 800px;
  margin: 0 auto;
}
.contact-wrapper h2 {
  text-align: center;
  font-size: 50px;
}
@media screen and (max-width: 959px) {
  body {
    position: relative;
  }
  .start h1 {
    font-size: 70px;
  }
  header h1 {
    font-size: 40px;
    width: 240px;
    padding: 10px 10px;
  }
  .nav {
    position: fixed;
    z-index: 20;
    color: #333;
    background-color: #fff;
    display: none;
    transition: all 0.5s;
    width: 100%;
    top:0;
    height: 100vh;
  }
  .nav ul {
    display: flex;
    flex-direction: column;
    margin-top:70px;
    width: 100%;
    right: 0;
    text-align: center;
  }
  .nav li {
    width: 100%;
    height: 80px;
    border-top: 1px solid #50b8f5;
    padding:25px;
    cursor: pointer;
  }
  .nav li:hover {
    color: white;
    background-color: #50b8f5
  }
  .nav li:last-of-type {
    border-bottom: 1px solid #50b8f5;
  }
  .nav a {
    color:#333;
    width: 100%;
    height: 80px;
    font-size: 20px;
    display: block;
  }
  .open nav {
    display: block;
    left:0;
  }
  .mask {
    display: none;
    z-index: 15;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
  }
  .open .mask {
    display:block;
  }
  .btn {
    width: 30px;
    height: 30px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
    position: absolute;
    right:20px;
    top:24px;
  }
  .btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    transition: all 0.5s;
  }
  .btn span:nth-child(1) {
    top:10px;
  }
  .btn span:nth-child(2) {
    bottom: 10px;
  }
  .open #btn span {
    background-color: #333;
  }
  .open #btn span:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(-45deg);
    transform: translateY(4px) rotate(-45deg);
  }
  .open #btn span:nth-child(2) {
    -webkit-transform: translateY(-4px) rotate(45deg);
    transform: translateY(-4px) rotate(45deg);
  }
  .container {
    width: 80%;
  }
  .about h2 {
    font-size: 50px;
  }
  .about p {
    font-size: 25px;
    line-height: 40px;
  }
  .works {
    width: 100%;
  }
  .work {
    width: 45%;
  }
}
@media screen and (max-width: 480px) {
body {
  position: relative;
}
.start h1 {
  font-size: 50px;
}
header h1 {
  font-size: 30px;
  width: 200px;
  padding: 20px 10px;
}
.nav {
  position: fixed;
  z-index: 20;
  color: #333;
  background-color: #fff;
  display: none;
  transition: all 0.5s;
  width: 100%;
  top:0;
  height: 100vh;
}
.nav ul {
  display: flex;
  flex-direction: column;
  margin-top:70px;
  width: 100%;
  right: 0;
  text-align: center;
}
.nav li {
  width: 100%;
  height: 80px;
  border-top: 1px solid #50b8f5;
  padding:25px;
  cursor: pointer;
}
.nav li:hover {
  color: white;
  background-color: #50b8f5
}
.nav li:last-of-type {
  border-bottom: 1px solid #50b8f5;
}
.nav a {
  color:#333;
  width: 100%;
  height: 80px;
  font-size: 20px;
  display: block;
}
.open nav {
  display: block;
  left:0;
}
.btn {
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
  position: absolute;
  left:430px;
  top:24px;
}
.btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.5s;
}
.btn span:nth-child(1) {
  top:10px;
}
.btn span:nth-child(2) {
  bottom: 10px;
}
.open #btn span {
  background-color: #333;
}
.open #btn span:nth-child(1) {
  -webkit-transform: translateY(4px) rotate(-45deg);
  transform: translateY(4px) rotate(-45deg);
}
.open #btn span:nth-child(2) {
  -webkit-transform: translateY(-4px) rotate(45deg);
  transform: translateY(-4px) rotate(45deg);
}
.container {
  width:80%;
  margin: 0 auto;
}
.about h2 {
  font-size: 40px;
}
.about p {
  font-size: 20px;
  line-height: 30px;
}
.works {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.work {
  width: 90%;
}
